/* Import fonts */

@import url('../fonts/Roboto.css');

/* Reset and normalize */

@import url('./normalize.css');
body {
    margin-left: 40px;
    margin-right: 45px;
    box-shadow: 0 0 10px 0 lightgray;
}

section {
    display: flow-root;
    padding-left: 70px;
    padding-right: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.favorites h1 {
    font-size: 40px;
    padding-top: 10px;
}

.teacher-card a {
    text-decoration: none;
    color: black;
}

.top-teachers h1 {
    font-size: 40px;
    padding-top: 10px;
    padding-bottom: 15px;
}

.popup-add-teacher header h1 {
    display: inline;
    font-size: 35px;
}

.popup-teacher-card header h2 {
    display: inline;
    font-size: 35px;
    padding-left: 60px;
}

header {
    width: 50%;
}

.header header h1 {
    text-shadow: 2px 1px 0 black, -2px -1px 0 lightcoral;
    font-size: 54px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: white;
    margin: 30px;
    text-align: left;
    float: left;
}

.popup-teacher-card .teacher-info h1 {
    font-size: 50px;
    padding-bottom: 20px;
    width: 420px;
    display: inline-block;
}

.header header h1:hover {
    text-shadow: 4px 1px 0 black, -4px -1px 0 lightcoral;
}

.search {
    margin: 30px;
    width: 50%;
    float: right;
}

aside .txt-search {
    margin: 10px;
    width: 200px;
    height: 45px;
    border-radius: 0;
    border-width: 1px;
    font-size: 14px;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    float: right;
}

aside .btn-search {
    margin: 10px;
    background-color: white;
    border: 1px solid tomato;
    color: tomato;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    width: 100px;
    height: 45px;
    float: right;
}

aside .btn-search:hover {
    background-color: tomato;
    color: white;
}

.popup-teacher-card a {
    color: royalblue;
    text-underline-offset: 5px;
    text-decoration-style: dotted;
    float: left;
    margin-left: 75px;
}

.header nav {
    width: 70%;
    float: left;
    text-align: left;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 35px;
    margin-bottom: 35px;
}

.footer nav {
    width: 70%;
    float: left;
    text-align: left;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 35px;
    margin-bottom: 45px;
}

.header nav a,
.footer nav a {
    text-decoration: none;
    color: tomato;
    font-size: 24px;
    margin: 20px;
}

.statistics nav a {
    float: left;
    text-decoration: none;
    color: cornflowerblue;
    padding: 10px;
}

.header nav a {
    text-decoration: none;
    color: tomato;
    font-size: 24px;
    margin: 20px;
}

.footer nav a {
    text-decoration: none;
    color: cornflowerblue;
    font-size: 24px;
    margin: 20px;
}

.header nav a:hover {
    color: firebrick;
}

.footer nav a:hover {
    color: royalblue;
}

.footer article {
    text-align: justify;
    line-height: 20px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 35px;
}

.teacher-card p {
    font-size: 12px;
    text-decoration: none;
}

.footer article p {
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn-add-teacher {
    background-color: white;
    border: 1px solid tomato;
    color: tomato;
    font-weight: bolder;
    float: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    font-size: 20px;
    width: 180px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 30px;
    margin-right: 40px;
    margin-top: 21px;
    margin-bottom: 40px;
}

.btn-add-teacher:hover {
    background-color: tomato;
    color: white;
}

.popup-add-teacher {
    position: fixed;
    max-height: 90%;
    overflow-y: scroll;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid black;
    width: 420px;
    box-shadow: 0 0 10px 0 lightgray;
}

.popup-teacher-card {
    position: fixed;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid black;
    width: 1000px;
    padding-bottom: 40px;
    box-shadow: 0 0 10px 0 lightgray;
}

#popup-add-teacher,
#popup-teacher-card {
    visibility: hidden;
}

#popup-add-teacher:target,
#popup-teacher-card:target {
    visibility: visible;
    margin-left: -40px;
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    position: fixed;
    z-index: 1;
}

.popup-teacher-card header,
.popup-add-teacher header {
    width: 100%;
    padding: 30px;
}

.popup-teacher-card .close,
.popup-add-teacher .close {
    float: right;
    text-decoration: none;
    font-size: 30px;
    color: black;
}

.popup-add-teacher .text {
    width: 255px;
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 18px;
}

.popup-add-teacher .date,
.popup-add-teacher select {
    width: 255px;
    padding: 6px;
    margin-top: 8px;
    margin-bottom: 18px;
}

.popup-add-teacher form {
    text-align: left;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 50px;
}

.popup-add-teacher form legend {
    float: left;
}

.top-teachers form label {
    padding-right: 55px;
    color: grey;
    border-right: 2px dotted grey;
}

.top-teachers form input {
    margin-left: 25px;
}

.popup-add-teacher form fieldset input,
.popup-add-teacher form fieldset label {
    float: right;
}

.popup-add-teacher .btn-add {
    width: 100%;
    color: tomato;
    background-color: white;
    border: 1px solid tomato;
    height: 65px;
    font-weight: bold;
    font-size: 32px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 30px;
}

.popup-add-teacher .btn-add:hover {
    color: white;
    background-color: tomato;
}

.statistics {
    padding-left: 105px;
    padding-right: 100px;
}

.statistics table {
    width: 100%;
}

.statistics table caption {
    font-size: 42px;
    padding-top: 30px;
    padding-bottom: 40px;
}

.statistics table tr:nth-child(2n+1) {
    background-color: whitesmoke;
}

.statistics table tr:first-child {
    background-color: inherit;
    border-bottom: 1px solid black;
}

.statistics table th {
    font-size: 20px;
}

.statistics table td,
.statistics table th {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.statistics table td:first-child,
.statistics table th:first-child {
    text-align: left;
}

.statistics table th:hover {
    border-bottom: 3px solid black;
    background-color: whitesmoke;
    padding-bottom: 9px;
}

.statistics nav {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 25px;
    padding-bottom: 70px;
}

.statistics nav .current {
    color: black;
}

.border {
    border-top: 1px solid black;
    width: 40%;
    margin: auto;
}

.top-teachers .container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 50px;
}

.teacher-card {
    margin: auto;
}

.teacher-card img,
.teacher-card .initials {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    border: 4px solid salmon;
}

.container figure {
    margin-bottom: 10px;
}

.teacher-card figcaption {
    font-size: 25px;
    line-height: 32px;
    margin-top: 15px;
}

.top-teachers form {
    text-align: left;
    margin: 15px;
}

.top-teachers form legend {
    float: left;
    margin-left: 20px;
}

.teacher-card .initials p {
    font-size: 28px;
    line-height: 125px;
    font-weight: bold;
}

.top-teachers form label:last-child {
    border: none;
}

.popup-teacher-card .broken-link,
.teacher-card .broken-link {
    visibility: hidden;
    display: none;
}

.popup-teacher-card figure {
    display: inline;
    float: left;
}

.popup-teacher-card figure img {
    width: 320px;
    height: 320px;
    margin-left: 30px;
}

.popup-teacher-card .teacher-info-img {
    display: grid;
    grid-template-columns: 400px auto;
}

.popup-teacher-card .teacher-info {
    text-align: left;
    display: inline;
    float: left;
}

.popup-teacher-card .teacher-info p {
    padding-bottom: 20px;
}

.popup-teacher-card .comment {
    display: block;
    float: left;
    padding-top: 15px;
    padding-bottom: 25px;
    padding-left: 70px;
    padding-right: 70px;
    text-align: left;
}

.teacher-card .initials {
    background-color: white;
    color: tomato;
}

.popup-teacher-card figure .initials {
    width: 340px;
    height: 340px;
    border: 1px solid salmon;
    color: tomato;
    background-color: white;
    font-size: 40px;
}

.popup-teacher-card .hidden-initials,
.teacher-card .hidden-initials {
    visibility: hidden;
    display: none;
}

.favorites {
    padding: 0;
}

.favorites .container {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.left-triangle-gray,
.left-triangle-white {
    float: right;
    width: 0;
    height: 0;
    border-top: 35px solid transparent;
    border-bottom: 35px solid transparent;
}

.left-triangle-gray {
    border-right: 25px solid gray;
    margin-right: 12px;
}

.left-triangle-white {
    border-right: 25px solid white;
}

.left-arrow {
    float: right;
    padding-left: 40px;
    width: 40px;
}

.right-triangle-gray,
.right-triangle-white {
    float: right;
    width: 0;
    height: 0;
    border-top: 35px solid transparent;
    border-bottom: 35px solid transparent;
}

.right-triangle-gray {
    border-left: 25px solid gray;
}

.right-triangle-white {
    border-left: 25px solid white;
    padding-right: 12px;
}

.right-arrow {
    float: right;
    padding-left: 40px;
    width: 40px;
}

.container-arrows {
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
    padding-bottom: 65px;
}

.empty-star {
    color: yellow;
    font-size: 50px;
}

.star {
    color: yellow;
    font-size: 40px;
    position: absolute;
    padding-top: 7px;
    margin-left: 45px;
}

.hidden-star {
    display: none;
}

@media only screen and (max-width: 768px) {
    .header {
        padding-left: 10px;
        padding-right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .header header h1 {
        margin-left: -60px;
    }
    .header nav,
    .footer nav {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .footer nav {
        margin-left: 40px;
    }
    .search {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .search .btn-search {
        float: none;
    }
}